In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)
print("\nDate index alone from the series:\n",ts.index)

Date Index
 2011-01-02   -0.616732
2011-01-05    0.030006
2011-01-07    0.581312
2011-01-08   -0.099103
2011-01-10    0.304511
2011-01-12   -1.062293
dtype: float64

Date index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [5]:
stamp=ts.index[2] 
print("\n Second index:\n",stamp)

 Second index:
 2011-01-07 00:00:00

In [10]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01;",periods=1000))
print("\nDate range upto 1000 days:\n",longer_ts)
print("\nDate range-2001 year:\n",longer_ts["2001"])

Datarange upto 1000 days:
 2000-01-01   -0.560285
2000-01-02    1.846122
2000-01-03    0.585466
2000-01-04    0.360494
2000-01-05    1.068934
                ...
2002-09-22   -1.064594
2002-09-23    1.338948
2002-09-24   -0.458859
2002-09-25   -0.271847
2002-09-26   -0.432822
Freq: D, Length: 1000, dtype: float64

Date range-2001 year:
 2001-01-01    1.131128
2001-01-02    0.774381
2001-01-03   -0.150613
2001-01-04   -0.442246
2001-01-05    1.227491
                ...
2001-12-27    1.192024
2001-12-28    0.958659
2001-12-29    1.011533
2001-12-30    0.298903
2001-12-31   -2.532896
Freq: D, Length: 365, dtype: float64

In [12]:
print("\nDate range-05 month 2001 year:\n",longer_ts["2001-05"])
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-05 month 2001 year:
 2001-05-01   -0.396409
2001-05-02   -0.577371
2001-05-03    1.171600
2001-05-04   -0.635756
2001-05-05   -1.173156
2001-05-06    1.102186
2001-05-07    1.054927
2001-05-08    0.983566
2001-05-09   -1.179048
2001-05-10   -0.423713
2001-05-11    0.722573
2001-05-12   -0.298477
2001-05-13   -1.188014
2001-05-14    1.783504
2001-05-15    1.502378
2001-05-16   -0.122799
2001-05-17   -0.004614
2001-05-18   -0.178669
2001-05-19    0.038432
2001-05-20   -0.899859
2001-05-21    1.359690
2001-05-22    1.034585
2001-05-23   -0.040288
2001-05-24   -0.235288
2001-05-25   -1.145320
2001-05-26    1.630912
2001-05-27    0.154607
2001-05-28   -0.699454
2001-05-29   -0.206986
2001-05-30   -1.433945
2001-05-31   -3.165401
Freq: D, dtype: float64

Date range-first few dates in 2000 year:
 2000-01-01   -0.560285
2000-01-02    1.846122
2000-01-03    0.585466
2000-01-04    0.360494
2000-01-05    1.068934
Freq: D, dtype: float64

In [15]:
print("\n Date range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))
print("\n Date range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

 Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.710465
2000-02-02   -0.191826
2000-02-03   -0.998539
2000-02-04   -0.847864
2000-02-05    0.169694
2000-02-06   -2.157489
2000-02-07    0.613184
2000-02-08   -0.139454
2000-02-09   -0.282909
2000-02-10   -1.174210
2000-02-11   -0.517493
2000-02-12    0.893132
2000-02-13    1.413353
2000-02-14    0.949589
2000-02-15    0.119646
Freq: D, dtype: float64

 Date range-rom 26-9-2001:
 2000-09-26    0.634433
2000-09-27    0.559166
2000-09-28   -1.888400
2000-09-29   -0.902428
2000-09-30   -0.104597
                ...
2002-09-22   -1.064594
2002-09-23    1.338948
2002-09-24   -0.458859
2002-09-25   -0.271847
2002-09-26   -0.432822
Freq: D, Length: 731, dtype: float64

In [16]:
print("\nDate range from 26-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26    1.177976
2001-09-27    0.199749
2001-09-28   -0.816573
2001-09-29   -0.017795
2001-09-30   -0.768146
                ...
2002-09-21   -0.785935
2002-09-22   -1.064594
2002-09-23    1.338948
2002-09-24   -0.458859
2002-09-25   -0.271847
Freq: D, Length: 365, dtype: float64