In [1]:

import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2020,1,5),
         datetime(2020,1,10),
         datetime(2020,1,15),
         datetime(2020,1,20),
         datetime(2020,1,25)]
ts = pd.Series(np.random.randn(5), index=dates)
print("\nWith this date object, create a series with datetime index:\n",ts)

With this date object, create a series with datetime index:
 2020-01-05    0.930476
2020-01-10    1.495627
2020-01-15    0.966149
2020-01-20   -0.431883
2020-01-25    0.593836
dtype: float64

In [2]:
res=ts.truncate(after="1/15/2020")
print("\nTruncate method to truncate datetime series \n", res)

Truncate method to truncate datetime series
 2020-01-05    0.930476
2020-01-10    1.495627
2020-01-15    0.966149
dtype: float64

In [11]:
a=pd.date_range("10/1/2022", periods=10, freq="W-SUN")
print("\nDate range with day periods.\n",a)

Date range with day periods.
 DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [12]:
date=pd.DatetimeIndex(["1/1/2020","1/2/2020","1/2/2020","1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5), index=date)
print("\nDuplicate datetime index:\n",ts1)

Duplicate datetime index:
 2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int64

In [13]:
group=ts1.groupby(level=0)
print("\nRepeated date counts:\n",group.count())

Repeated date counts:
 2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [15]:
long_df=pd.DataFrame(np.random.randn(10,4),index=a,columns=list("ABCD"))
print("\nMulti-column DataFrame with datatime index:\n",long_df)

Multi-column DataFrame with datatime index:
                    A         B         C         D
2022-10-02 -1.521327 -0.073111 -0.823292 -0.155354
2022-10-09 -0.470560 -0.571926 -0.110174  0.904360
2022-10-16  1.752688  1.180185  0.546453 -1.349484
2022-10-23 -1.136317  0.295583 -2.595239 -0.217499
2022-10-30  0.755731 -0.169678 -0.864423 -1.559199
2022-11-06  0.778784  1.284460  0.960775 -0.720467
2022-11-13 -1.833229  0.731757 -0.805393  0.143816
2022-11-20 -0.504984 -0.542086 -1.595959 -1.682216
2022-11-27 -1.318209  0.573821 -2.665574 -2.123429
2022-12-04  0.605127 -1.805301  0.584746  0.055686